.git
.dvc/cache
.venv_mlops
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
logs/*
data/raw/zipped/*
data/raw/extracted/*
.pytest_cache
.coverage
htmlcov
.tox
.vscode
