/transaction_distributions.png
/precision_recall_curve_RandomForest.png
/precision_recall_curve_GradientBoosting.png
/precision_recall_curve_XGBoost.png
/roc_curve_RandomForest.png
/roc_curve_GradientBoosting.png
/roc_curve_XGBoost.png
/confusion_matrix_RandomForest.png
/confusion_matrix_GradientBoosting.png
/confusion_matrix_XGBoost.png
